.hhi-app-header {
  width: 100%;
}

.hhi-app-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hhi-app-header__brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hhi-app-header__actions {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
